<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="add.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>
<body>
    <div id="add">
      <div style="padding: 0 15px;">
        <div class="course-title">
          <img @click="returnShow()" src="./img/1.png" class="title-boult" alt="返回" >
          <div class="title-tag">创建课程</div>
          <div class="title-save" @click="addData()">保存</div>
        </div> 
        <input class="course-name" placeholder="课程名称" onfocus="this.placeholder=``" v-model="course.name"></input>
      </div>
      <!-- 分界内容 -->
       <div style="background: rgb(247, 247, 247);
       height:10px;"></div>
      <div class="course-sates">
        <div class="sates sates-tag">按课时收费</div>
        <!-- 遍历标签 -->
        <div v-for="(rates, index) in  course.courseRates">
          <div class="sates sates-count">
            <span>收费标准({{index+1}})</span>
            <div class="delete-charge" @click=deleteCharge(index)>删除</div>
          </div>
          <div class="sates sates-name">
            <span>收费名称</span>
            <input type="text" placeholder="最多20字" onfocus="this.placeholder=``" v-model="course.courseRates[index].cname">
          </div>
          <div class="sates sates-hour" v-bind:class="{ active: isActive[0] }">
            <span>课时数</span>
            <div class="hour-symbol" @click="reduceHour(index)">-</div>
            <div style="width: 50px;text-align: center;" >{{course.courseRates[index].hour}}</div>
            <div class="hour-symbol" @click="addHour(index)">+</div>
          </div>
          <div class="sates sates-price" v-bind:class="{ active: isActive[1] }">
            <span>金额</span>
            <input type="number" placeholder="0" onfocus="this.placeholder=``" v-model="course.courseRates[index].price" @change="inspect(index)">
            <span>元</span>
          </div>
        </div>  
      </div>
      <button class="add-charge" @click="addCharge">添加收费项({{course.courseRates.length}}/10)</button>
    </div>
<script>
var va = new Vue({
      el: '#add',
      data: {
      isActive: [],
      course:
        {
         state:'',
         name:'',
         courseRates:[
            {
            cname: '',
            hour: '1',
            price: ''
          },
        ]
      },
    },
    methods: {
      returnShow:function(){
        window.history.back(-1);
      },
      addData:function(){
        console.log(this.course)
        if(this.course!==null){
          var collection = localStorage.getItem("courses")
          collect=(collection != null) ? JSON.parse(collection) : [];
          collect.push(this.course);
          localStorage.setItem("courses",JSON.stringify(collect));
          window.location.href='show.html';
        }else{
          return alert("输入不能为空")
        }
      },
      addCharge:function(){
        this.course.courseRates.push({
        cname:'',
        hour:'1',
        price:''
      })
        this.isActive=[]
        if(this.course.courseRates.length>=10){
          alert("最多添加10项")
        }

      },
      deleteCharge: function(i){
        console.log(this.course.courseRates);
        this.course.courseRates.splice(i,1);
        
        
        console.log(this.course.courseRates);
      },
      reduceHour:function(num){
        if(this.course.courseRates[num].hour>0){
          this.course.courseRates[num].hour--;
          
        }else{
          this.isActive[0]=true;
          alert('总课时必须>0')
        }
      },
      addHour:function(num){
        this.course.courseRates[num].hour++;
      },
      inspect:function (num){
        if(this.course.courseRates[num].price>0){
        }
        else{
          this.isActive[1]=true;
          alert('总金额必须>0');
        }
      }
    }
  })
</script>
</body>
</html>